@model PatoFinalProject.Models.User
@{
                /**/

                Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Areas/PublicAdmin/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
  <div class="container">
      <div class="row">


          <div class="col-3"></div>

          <div class="col-6">
              @using (Html.BeginForm(new { @class="splash-container"}))
              {
                 
              <div class="card">
                  <div class="card-header">
                      <h3 class="mb-1">Registrations Form</h3>
                      <p>Please enter your user information.</p>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                          @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-lg", type = "text", required = "required", placeholder = "Username", autocomplete = "off" })
                      </div>
                      <div class="form-group">
                          @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", type = "email", required = "required", placeholder = "E-mail", autocomplete = "off" })
                      </div>
                      <div class="form-group">
                          @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg", @id = "pass1", type = "password", required = "required", placeholder = "Password" })
                      </div>

                      <div class="form-group pt-2">
                          <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
                      </div>
                      <div class="form-group">
                          <label class="custom-control custom-checkbox">
                              <input class="custom-control-input" type="checkbox"><span class="custom-control-label">By creating an account, you agree the <a href="#">terms and conditions</a></span>
                          </label>
                      </div>
                      <div class="form-group row pt-0">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                              <a href="https://www.facebook.com" class="btn btn-block btn-social btn-facebook ">Facebook</a>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <a class="btn  btn-block btn-social btn-twitter" href="https://twitter.com/">Twitter</a>
                          </div>
                      </div>
                  </div>
                  <div class="card-footer bg-white">
                      <p>Already member? <a href="@Url.Action("Index","Security")" class="text-secondary">Login Here.</a></p>
                  </div>
                  <div class="card-footer-item card-footer-item-bordered">
                      <a href="@Url.Action("Index","Home", new { areas = "Admin" })" class="footer-link">< Return Admin ></a>
                  </div>
              </div>
                 
              }
          </div>


          <div class="col-3"></div>


      </div>
  </div>

</body>


</html>
