
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Areas/PublicAdmin/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Areas/PublicAdmin/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="#">ADMIN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Areas/PublicAdmin/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Areas/PublicAdmin/assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Elnur Hasanzada </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Areas/PublicAdmin/assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Areas/PublicAdmin/assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Areas/PublicAdmin/assets/images/github.png" alt=""> <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Areas/PublicAdmin/assets/images/dribbble.png" alt=""> <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Areas/PublicAdmin/assets/images/dropbox.png" alt=""> <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Areas/PublicAdmin/assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Areas/PublicAdmin/assets/images/mail_chimp.png" alt=""><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Areas/PublicAdmin/assets/images/slack.png" alt=""> <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user" >
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Areas/PublicAdmin/assets/images/MYPIC.png" alt=""  class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">Elnur Hasanzada </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="@Url.Action("Index","Settings")"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="@Url.Action("LogOut","Security")"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark" style="z-index:999999999;">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Home <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"><a href="@Url.Action("Index","ItalianRestaurantCon")" class="nav-link">Italian Restaurant</a></li>
                                        <li class="nav-item"><a href="@Url.Action("Index","RomanticDelicousCard")" class="nav-link">Romantic Delicious</a></li>
                                        <li class="nav-item"><a href="@Url.Action("Index","HomeReservationBT")" class="nav-link">Reservation Book Table</a></li>
                                        <li class="nav-item"><a href="@Url.Action("Index","LatestBlogCon")" class="nav-link">Latest Blog</a></li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Menu</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"> <a href="@Url.Action("Index","MenuDrinkStarersCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Menu Drink&Starrers</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","MenuMainDesertCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Menu Main$Desert</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","MenuLunchCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Menu-Lunch Left Area</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","MenuLunchRightCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Menu-Lunch Right Area</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","MenuDinnerImgCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Menu-Dinner Left Area</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","MenuDinnerImgRightCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Menu-Dinner Right Area</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Gallery</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"> <a href="@Url.Action("Index","GalleryAllPhotoCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Gallery All Photo</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","GalleryInteriorCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Gallery Interior</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","GalleryFoodCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Gallery Food</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","GalleryEventsCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Gallery Events</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","GalleryVipGuestCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Gallery Vip Guest</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>About Us</a>
                                <div id="submenu-8" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"> <a href="@Url.Action("Index","AboutChefCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> About Our Chef</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","AboutDeliciousReceipes")" class="nav-link"><i class="lnr lnr-file-empty"></i> About Delicious Receipes</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","AboutRomanticCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> About Romantic</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Blogs <span class="badge badge-secondary">New</span></a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"> <a href="@Url.Action("Index","BlogMainPhotoCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Blog Main Photo Area</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","BlogMostPopularCon")" class="nav-link"><i class="lnr lnr-file-empty"></i> Blog Most Popular</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Settings </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item"> <a href="@Url.Action("Index","Settings")" class="nav-link"><i class="lnr lnr-file-empty"></i> Settings</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Index","Security")" class="nav-link"><i class="lnr lnr-file-empty"></i> Login</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Register","Security")" class="nav-link"><i class="lnr lnr-file-empty"></i> Sign up Page</a></li>
                                        <li class="nav-item"> <a href="@Url.Action("Error404","Security")" class="nav-link"><i class="lnr lnr-file-empty"></i> 404 page</a></li>
                                       
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fab fa-fw fa-wpforms"></i>Forms</a>
                                <div id="submenu-9" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","SpecialSignUpCon")"><i class="lnr lnr-file-empty"></i>Special Sign Up</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","ReservationFormCon")"><i class="lnr lnr-file-empty"></i>Reservation Form</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Index","ContactFormCon")"><i class="lnr lnr-file-empty"></i>Contact Form</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        @RenderBody()

        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    @RenderSection("CKEditor",required:false)
    <script src="~/Areas/PublicAdmin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/Areas/PublicAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/Areas/PublicAdmin/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/Areas/PublicAdmin/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/Areas/PublicAdmin/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/Areas/PublicAdmin/assets/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>